#reparacion
	width 100%
	img
		width 100%
/*.section_info_oferta
	background #804040
	position relative
#info_todo
	background #408080
	display inline block
	.tabs
		background orange
		width 20%
	.tabs-content
		background green
		windth 70%*/

